<div class="w3-container" style="padding:128px 16px" id="product">
  <h3 class="w3-center">Products</h3>
  <p class="w3-center w3-large">The Product which we installs</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class=" w3-margin-bottom owl-carousel owl-theme box" >
      <div class="w3-card" *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementumas.</p>
          <p><button class="w3-button w3-light-grey w3-block">More Images</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
