<div class="foot-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>BHAGWAN PARSHURAM INSTITUTE OF TECHNOLOGY</h4>
        <p>
          <b>Tel:</b> 011 - 27572900 , 27571080 <br>
          <b>Email:</b> bpitindia@yahoo.com <br>
          <b>Web:</b> www.bpitindia.com <br>
        </p>
      </div>
      <div class="col-sm-8">
        <h4>Quick Links</h4>
        <div class="col-sm-6">
          <a href="#">Home</a>
          <a target="_blank" href="http://www.ipu.ac.in/">GGSIPU Website</a>
          <a target="_blank" href="http://spoken-tutorial.org/">Spoken Tutorial IIT Bombay</a>
          <a [routerLink]="['/placements/recruiters']">Recruitment</a>
        </div>
        <div class="col-sm-6">
          <a target="_blank" href="http://www.nmeict.iitb.ac.in/nmeict/wsmng/allrc.php">Remote centre IIT Bombay/Kharagpur</a>
          <a target="_blank" href="#">BODH BPIT International Journal Of Technology & Management</a>
          <a href="#">Photo Gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>
<span id="footsie">Copyrights &copy; 2018 Bhagwan Parshuram Institute of Technology</span>
