
<app-nav></app-nav>
 
<div class="container" *ngIf="marqueeData?.length >0">
    <div class="marquee">
      <div class="img1" *ngFor="let marquee of marqueeData;"><h3 style="text-transform: uppercase"><b>{{marquee.marqueetext}}</b></h3></div>  
      </div>
    </div>
    
<div class="wrapper bgded overlay"  style="background-image:url('http://res.cloudinary.com/rahul252525/image/upload/v1530812172/dfmeyqvgbrwy9qw5f32j.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">P S AIR SOLUTIONS</h3>
      <p>H.V.AC.,Installation Expert</p>
    </article>
  </div>
</div>


<app-about></app-about>

<h6 style="text-align: center;" id="gallery"><b>Gallery</b></h6>


<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let slide of Slides;">
    <div class="view w-100">
      <img class="d-block w-100" src="{{slide.sliderimage['url']}}" height="500px" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
  </div>
  <div class="carousel-caption">
      <h3 class="h3-responsive">{{slide.Slidername}}</h3>
      <p>{{slide.description}}</p>
  </div>
  </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->

<app-product></app-product>

<app-partner></app-partner>

<app-contact></app-contact>

<app-footer></app-footer>
