<app-nav></app-nav>
<carousel id="carousel "[interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%; height:400px;">

    <div class="carousel-caption">
      <h4>Slide {{index}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>
<br />
<div class="wrapper">
  <div class="owl-carousel owl-theme">
    <div class="item" *ngFor="let slide of slides; let index=index"><br /><img [src]="slide.image" alt="image slide" style="display: block; width: 100%; height:400px;"><br /></div>

</div>
<br />
</div>
<h1>HEllo</h1>
<app-footer></app-footer>
