<div class="nav-wrap">
  <div class="head-bar">
  </div>
  <div class="top-bar">
     <div class="background"><br /></div>
    <div class="container" id="top" >
      <div class="wrap">
        <div class="branding">
          <br />
<div class="col-sm-3" ><img width="110%"src="../../../../assets/images/logo1.png" alt=""></div>
          <div class="logotype">
            <div class="names" id="top1">
              <div class="col-sm-4" >
              <span style="font-weight:bold;padding-left:40px;"><br /></span>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<br />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
