<div class="nav-wrap">
  <div class="head-bar">

  </div>
  <div class="top-bar">
     <div class="background"><h1 style="color:black;">hello</h1></div>
    <div class="container" id="top" >
      <div class="wrap">
        <div class="branding">
          <br />
<div ><div class="col-sm-3" ><img width="110%"src="../../../../assets/images/logo1.png" alt=""></div></div>
          <div class="logotype">
            <div class="names" id="top1">
              <div class="col-sm-4" >
              <span style="font-weight:bold;padding-left:40px;"><br /></span>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br />
</div>
